{% import "bootstrap/wtf.html" as wtf %}

{% extends "header.html" %}

{% block content %}

<div class="container p-3">

    <h1>Fuksilauluilta</h1>

    <p>Fuksilauluilta 14.10. @Teekkaritalo</p>
    <p>Lisätietoja tulossa</p>

    {% block ilmo %}
    <div class="container p-3">
        <div>
            <h4>{{ title }}</h4>
            <h6>* merkityt kohdat pakollisia</h6>
            <h6><a href="{{ url_for('static',filename='tietosuojaseloste_fuksilauluilta.pdf') }}">Tietosuojaseloste</a></h6>

        </div>
        {% if starttime < nowtime < endtime %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}

            {{ wtf.form_field(form.etunimi) }}
            {% for e in form.etunimi.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}<p>
            {% endfor %}
            {{ wtf.form_field(form.sukunimi) }}
            {% for e in form.sukunimi.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}<p>
            {% endfor %}

            {{ wtf.form_field(form.email) }}
            {% for e in form.email.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}<p>
            {% endfor %}

            {{ wtf.form_field(form.consent0) }}
            {% for e in form.consent0.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}<p>
            {% endfor %}
            {{ wtf.form_field(form.consent1) }}
            {% for e in form.consent1.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}<p>
            {% endfor %}

            <button class="btn btn-info">{{ wtf.form_field(form.submit) }}</button>
            {% for e in form.submit.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}<p>
            {% endfor %}

            <p>Ilmoittautuminen päättyy {{ endtime }}</p>

        </form>
        {% elif nowtime < starttime %}
        <p>Ilmoittautuminen alkaa {{ starttime }}</p>
        {% else %}
        <p>Ilmoittautuminen on päättynyt</p>
        {% endif %}


        <h3>Osallistujat: {{ count }}/{{ limit }}</h3>
        {% for entry in entrys%}
        {% if entry.consent0 %}
        <p>{{ entry.etunimi }} {{ entry.sukunimi }}
            {% if loop.index > limit %}
            (Varasijalla)
            {% endif %}
        </p>
        {% endif %}
        {% endfor %}


    </div>
    {% endblock %}

</div>

{% endblock %}