{% import "bootstrap/wtf.html" as wtf %}

{% extends "header.html" %}

{% block content %}

<script src="{{ url_for('static',filename='pakohuone.js') }}"></script>

<div class="container p-3">

    <h1>Exit Oulu</h1>

    <p>Ilmoita koko joukkue (5-6 henkilöä) kerralla. Huoneita on varattu
        10 per kierros. Ensimmäinen kierros alkaa 18:00 ja toinen kierros 19:30.
    </p>

    {% block ilmo %}
    <div class="container p-3">
        <div>
            <h4>{{ title }}</h4>
            <h6>* merkityt kohdat pakollisia</h6>
            <h6><a href="{{ url_for('static',filename='tietosuojaseloste_pakohuone.pdf') }}">Tietosuojaseloste</a></h6>

        </div>
        {% if starttime < nowtime < endtime %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}

            {{ wtf.form_field(form.aika) }}
            {% for e in form.aika.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

            <div id="huone1800" style="display: none;">
                {{ wtf.form_field(form.huone1800) }}
                {% for e in form.huone1800.errors %}
                <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
                <p>
                    {% endfor %}
            </div>

            <div id="huone1930" style="display: none;">
                {{ wtf.form_field(form.huone1930) }}
                {% for e in form.huone1930.errors %}
                <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
                <p>
                    {% endfor %}
            </div>

            {{ wtf.form_field(form.etunimi0) }}
            {% for e in form.etunimi0.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.sukunimi0) }}
                {% for e in form.sukunimi0.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.phone0) }}
                {% for e in form.phone0.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.email0) }}
                {% for e in form.email0.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

                {{ wtf.form_field(form.etunimi1) }}
                {% for e in form.etunimi1.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.sukunimi1) }}
                {% for e in form.sukunimi1.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

                {{ wtf.form_field(form.etunimi2) }}
                {% for e in form.etunimi2.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.sukunimi2) }}
                {% for e in form.sukunimi2.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

                {{ wtf.form_field(form.etunimi3) }}
                {% for e in form.etunimi3.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.sukunimi3) }}
                {% for e in form.sukunimi3.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

                {{ wtf.form_field(form.etunimi4) }}
                {% for e in form.etunimi4.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.sukunimi4) }}
                {% for e in form.sukunimi4.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

                {{ wtf.form_field(form.etunimi5) }}
                {% for e in form.etunimi5.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}
                {{ wtf.form_field(form.sukunimi5) }}
                {% for e in form.sukunimi5.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

                {{ wtf.form_field(form.consent0) }}
                {% for e in form.consent0.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

                <button class="btn btn-info">{{ wtf.form_field(form.submit) }}</button>
                {% for e in form.submit.errors %}
            <p class="alert alert-primary alert-dismissible" role="alert">{{ e }}
            <p>
                {% endfor %}

            <p>Ilmoittautuminen päättyy {{ endtime }}</p>

        </form>
        {% elif nowtime < starttime %}
        <p>Ilmoittautuminen alkaa {{ starttime }}</p>
        {% else %}
        <p>Ilmoittautuminen on päättynyt</p>
        {% endif %}


        <h3>Osallistujat: {{ count }}/{{ limit }}</h3>
        <!--{% for entry in entrys%}
        {% if entry.consent0 %}
        <p>{{ entry.teamname }}
            {% if loop.index > limit %}
            (Varasijalla)
            {% endif %}
        </p>
        {% endif %}
        {% endfor %}-->


    </div>
    {% endblock %}

</div>

{% endblock %}