{% import "bootstrap/wtf.html" as wtf %}

{% extends "header.html" %}

{% block content %}

<div class="container p-3">
    <h1>{{ title }}</h1>

    <a href="{{ url_for('pubivisa_csv') }}"><button class="btn btn-info">Lataa
            CSV</button></a>
    <div>
        <h2>Osallistujat</h2>
        <h3>{{ count }}/{{ limit }}</h3>
        <table class="table" rules="all">
            <thead>
                <tr>
                    <td>
                        N&emsp;&emsp;
                    </td>
                    <td>
                        etunimi0&emsp;&emsp;
                    </td>
                    <td>
                        sukunimi0&emsp;&emsp;
                    </td>
                    <td>
                        phone0&emsp;&emsp;
                    </td>
                    <td>
                        email0&emsp;&emsp;
                    </td>
                    <td>
                        kilta0&emsp;&emsp;
                    </td>
                    <td>
                        etunimi1&emsp;&emsp;
                    </td>
                    <td>
                        sukunimi1&emsp;&emsp;
                    </td>
                    <td>
                        phone1&emsp;&emsp;
                    </td>
                    <td>
                        email1&emsp;&emsp;
                    </td>
                    <td>
                        kilta1&emsp;&emsp;
                    </td>
                    <td>
                        etunimi2&emsp;&emsp;
                    </td>
                    <td>
                        sukunimi2&emsp;&emsp;
                    </td>
                    <td>
                        phone2&emsp;&emsp;
                    </td>
                    <td>
                        email2&emsp;&emsp;
                    </td>
                    <td>
                        kilta2&emsp;&emsp;
                    </td>
                    <td>
                        etunimi3&emsp;&emsp;
                    </td>
                    <td>
                        sukunimi3&emsp;&emsp;
                    </td>
                    <td>
                        phone3&emsp;&emsp;
                    </td>
                    <td>
                        email3&emsp;&emsp;
                    </td>
                    <td>
                        kilta3&emsp;&emsp;
                    </td>
                    <td>
                        hyväksyn nimen julkaisemisen&emsp;&emsp;
                    </td>
                    <td>
                        hyväksyn tietosuojaselosteen&emsp;&emsp;
                    </td>
                    <td>
                        ymmärrän että ilmoittautuminen on sitova&emsp;&emsp;
                    </td>
                    <td>
                        datetime&emsp;&emsp;
                    </td>

                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ loop.index }}.
                        {% if loop.index > limit %}
                        (Vara)
                        {% endif %}
                    </td>
                    <td>
                        {{ entry.etunimi0 }}
                    </td>
                    <td>
                        {{ entry.sukunimi0 }}
                    </td>
                    <td>
                        {{ entry.phone0 }}
                    </td>
                    <td>
                        {{ entry.email0 }}
                    </td>
                    <td>
                        {{ entry.kilta0 }}
                    </td>
                    <td>
                        {{ entry.etunimi1 }}
                    </td>
                    <td>
                        {{ entry.sukunimi1 }}
                    </td>
                    <td>
                        {{ entry.phone1 }}
                    </td>
                    <td>
                        {{ entry.email1 }}
                    </td>
                    <td>
                        {{ entry.kilta1 }}
                    </td>
                    <td>
                        {{ entry.etunimi2 }}
                    </td>
                    <td>
                        {{ entry.sukunimi2 }}
                    </td>
                    <td>
                        {{ entry.phone2 }}
                    </td>
                    <td>
                        {{ entry.email2 }}
                    </td>
                    <td>
                        {{ entry.kilta2 }}
                    </td>
                    <td>
                        {{ entry.etunimi3 }}
                    </td>
                    <td>
                        {{ entry.sukunimi3 }}
                    </td>
                    <td>
                        {{ entry.phone3 }}
                    </td>
                    <td>
                        {{ entry.email3 }}
                    </td>
                    <td>
                        {{ entry.kilta3 }}
                    </td>
                    <td>
                        {{ entry.consent0 }}
                    </td>
                    <td>
                        {{ entry.consent1 }}
                    </td>
                    <td>
                        {{ entry.consent2 }}
                    </td>
                    <td>
                        {{ entry.datetime }}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>




    </div>


</div>

{% endblock %}